
.icon-mail:before { content: '\65'; } /* 'e' */
.icon-key-2:before { content: '\6b'; } /* 'k' */
.icon-right:before { content: '\69'; } /* 'i' */
.icon-eye:before { content: '\6c'; } /* 'l' */
.icon-user-1:before { content: '\75'; } /* 'u' */
.icon-key:before { content: '\70'; } /* 'p' */